.anton-regular {
	font-family: "Anton", sans-serif;
	font-weight: 300;
	font-style: normal;
}

* {
	font-family: "Anton", sans-serif;
}

.bg-primarycolor{
	background-color: #42212edc;
}

section {
	margin-bottom: 4rem;
}

.logo {
	height: 3.5rem;
}

.logo-footer {
	height: 5rem;
}

.btn-footer:hover {
	color: #212529 !important;
}

.title1 {
	font-size: 3rem;
}

.nav-link {
	 color: #212529;
}

.card {
	color: #212529 !important;
}

.bi-star-fill {
	color: #ffc107;
}

.bi-star {
	color: #ffc107;
}

.img-bio {
	width: 90%;
}

@keyframes slide {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-100%);
	}
  }
  
  .logos {
	overflow: hidden;
	padding: 60px 0;
	background: white;
	white-space: nowrap;
	position: relative;
  }
  
  .logos:before,
  .logos:after {
	position: absolute;
	top: 0;
	width: 250px;
	height: 100%;
	content: "";
	z-index: 2;
  }
  
  .logos:before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
	animation-play-state: paused;
  }
  
  .logos-slide {
	display: inline-block;
	animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
	height: 300px;
    margin: 0 30px;
  }